[submodule "thesis_detection"]
	path = thesis_detection
	url = ./thesis_detection
[submodule "thesis_simulation"]
        path = thesis_simulation
        url = https://github.com/dimfot3/thesis_simulation.git
[submodule "Thesis_UnitTests"]
	path = Thesis_UnitTests
	url = https://github.com/dimfot3/Thesis_UnitTests.git
