<?xml version="1.0"?>
<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:arg name="name" default="lidar" />
   <xacro:arg name="channels" default="32" />
   <xacro:arg name="x" default="0" />
   <xacro:arg name="y" default="0" />
   <xacro:arg name="z" default="3" />
   <xacro:arg name="rx" default="0" />
   <xacro:arg name="ry" default="0" />
   <xacro:arg name="rz" default="0" />
   <xacro:arg name="rate" default="10" />
	<model name="lidar_module">
		<static>true</static>
		<pose>$(arg x) $(arg y) $(arg z) $(arg rx) $(arg ry) $(arg rz)</pose>
		<link name="$(arg name)">
			<sensor name='gpu_lidar' type='gpu_lidar'>
				<topic>$(arg name)</topic>
				<update_rate>$(arg rate)</update_rate>
				<ray>
					<scan>
						<horizontal>
						    <samples>1024</samples>
						    <min_angle>0.0</min_angle>
						    <max_angle>6.2831</max_angle>
						</horizontal>
						<vertical>
						    <samples>$(arg channels)</samples>
						    <min_angle>-0.2897</min_angle>
						    <max_angle>0.2897</max_angle>
						</vertical>
					</scan>
					<range>
						<min>0.08</min>
						<max>100</max>
					</range>
					<noise>
						<type>gaussian</type>
						<mean>0.0</mean>
						<stddev>0.03</stddev>
					 </noise>
				</ray>
				<always_on>1</always_on>
				<visualize>true</visualize>
			</sensor>
			<visual name="lidar_visual">
				<geometry>
					<mesh>
				 		<uri>lidar_3d_v2.dae</uri>
				 	</mesh>
				 </geometry>
			</visual>
		</link>
	</model>
</sdf>
